---
import MainLayout from "../../../layouts/MainLayout.astro";
import PostCard from "../../../components/PostCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../../../utils";

const { tag } = Astro.params;

if (tag === undefined) {
  throw new Error("Tag is required");
}

const allBlogPosts: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tagPosts = allBlogPosts.filter((post) => post.data.tags.includes(tag));
---

<MainLayout>
  <a
    href="/blogs"
    class="inline-block primaryBg rounded-lg text-white p-3 mb-6 hover:text-gray-900"
    >Back To Blog Posts</a
  >
  <h1 class="text-white text-2xl pb-3">#{capitalize(tag)}</h1>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {tagPosts.map((post) => <PostCard post={post} />)}
  </div>
</MainLayout>
